// Layout
$break-sm:576px; // small breakpoint
$break-md:768px; // medium brakpoint
$break-lg:992px; // large breakpoint
$break-xl:1440px; // extra large breakpoint
$column-gap:1rem; // gap between columns in the grid
$row-gap:1rem; // gap between rows in the grid

// Colors
$font-color:#000000; // main body font color
$inverted-font-color:#ffffff; // inverted body font color
$accent-color:#1b8595; // accent color